.spinning-logo {
    width: 40px;
    height: 40px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.night-mode {
    color: #888;
    background-color: black;
}

body {
    color: #4a4a4a;
}

.inverted-image {
    filter: invert(1);
}